
.container {
    display: grid;
    grid-gap: 20px;
    grid-column-gap: 50px;
  }
  body {
    background-color:black;
  }
.item-1{
    background-color: rgb(173, 11, 106);
}
.item-2{
    background-color: rgb(107, 14, 84);
}
.item-3{
    background-color: rgb(221, 37, 197);
}
.item-4{
    background-color: rgb(238, 49, 228);
}