:root {
  font-family: sans-serif;
}
.container {
  display: grid;
  height: 400px;
  width: 400px;
  background-color: blue;
}

.blue {
  grid-row: 1 / span 3;
  grid-column: 1 / span 3;
}

.yellow {
  height: 150px;
  width: 150px;
  background-color: yellow;
  margin: auto;
}